<!DOCTYPE html>
<html>
<head>
	<title></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

  
</head>
<body>




<ul class="collapsible popout" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Change Password</div>
      <div class="collapsible-body"><span>



  <%= form_for(resource, as: resource_name, url: registration_path(resource_name),html: { method: :put, multipart: :true }) do |f| %>
  <%= devise_error_messages! %>


  <!-- <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div> -->

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :New_password %> <br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>


  <div class="field">
    <%= f.label :confirm_new_password %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  
 

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update Password" %>
  </div>
<% end %>
</span></div>
    </li>




    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Location Settings</div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>

     <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Location Settings</div>
      <div class="collapsible-body">
      <span>
          <%= link_to "Deactivate My Account" , user_destroy_path ,method: :post %>
      </span>
      </div>
    </li>


    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Privacy Policy</div>
      <div class="collapsible-body"><span> 

      <%= render "privacyPolicy" %>
</span></div>
    </li>
  </ul>



  <%#= image_tag current_user.avatar.url(:thumb)%>
<p>
  <%#= link_to "Edit", edit_user_path(current_user) %> 
  <%#= link_to "Destroy", current_user, :confirm => 'Are you sure?', :method => :delete %> 
  <%#= link_to "View All", users_path %>
</p>
</body>
</html>