<!DOCTYPE html>
<html>
<head>
	<title>Users</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>

  
  
<!-- Compiled and minified CSS -->
  

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
     
  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>


</head>
<body>

<% @users.each do |user| %>

<%= user.username %><%= user.age%> <%=user.gender %><br>

<% end -%> 


<%= form_for edit_user_registration_path, html: { multipart: true } do |f| %>
  
 
  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar %>    
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>




<% if current_user.avatar? %> 

      <%=image_tag current_user.avatar ,style: 'height:100%;width:auto;' %>
 
 <% end -%>
 
 
<%#= link_to 'Edit', edit_user_path(current_user) %> 
<%#= link_to 'Back', pets_path %>






</body>

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>

</html>













