<!DOCTYPE html>
<html>
<head>
  <title>Prashant</title>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Domine" rel="stylesheet">
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>

  
  
<!-- Compiled and minified CSS -->
  
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
     
  <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


   
  <%= action_cable_meta_tag %>
   <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' =>'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' =>'reload' %>

   
  
</head>

<body>




<header>




<div class="brand_display">
 <div class="logo">
      <%= image_tag("logo1.png", :alt => "logo") %>

    </div>

    <div class="brand">
      <p> <%= link_to "stayano" , new_user_session_url , id: "brand"   %> </p>
    </div>
</div>


    <% if user_signed_in? %>
 



<div class="fixed-action-btn horizontal">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">widgets</i>
    </a>
    <ul>
      <!-- <li><a class="btn-floating red"><i class="material-icons">account_circle</i></a>Go Ano</li> -->
      <li><a class="btn-floating yellow darken-1"><i class="material-icons">chat</i></a></li>
      <li><a href="/users" class="btn-floating green"><i class="material-icons">device_hub</i></a></li>
      <li><a href="/user/location" class="btn-floating blue"><i class="material-icons">place</i></a></li>
      <li><a href="/" class="btn-floating green"><i class="material-icons">home</i>></a></li>
      <li><a href="/user/settings" class="btn-floating green"><i class="material-icons">settings</i>></a></li>
      <li><a href="/users/sign_out" class="btn-floating green"><i class="material-icons">power_settings_new</i>></a></li>


    
  
    </ul>
  </div>



          








<div class="user_info">
  <div class="profilepic">
    <% if current_user.avatar? %> 

      <%=image_tag current_user.avatar %>
    <%# else  %>
    <% elsif current_user.gender =="M" %>
      
    <%= image_tag("c9f1cdf473a8.png")  %>

    <% else %>

    <%= image_tag("female_avatar.png")  %>

    <%#= image_tag('c9f1cdf473a8.png'), id: "convocation-submit" %>
    <%#= link_to(image_tag("c9f1cdf473a8.png", :alt => "home image", :width => 100, :height => 100, :title => "Click here to return to Home") "/") %>
    <% end -%>
  </div> 
  <p><%= current_user.username %></p>

</div>






<!-- <div class="logo">
      <%#= image_tag("logo1.png", :alt => "rss feed") %>

    </div> -->
   <!--  <div class="brand">
      <p> <%#= link_to "stayano" , root_path , id: "brand"   %> </p>
    </div> -->



 



<div class="parent2">
  <%= link_to user_settings_path do %>
  <div class="test1"><i class="material-icons">chat</i></div>
  <% end -%>
  <%= link_to user_location_path do %>
  <div class="test2"><i class="fa fa-map-marker"></i></div>
  <% end -%>
  <%= link_to user_location_path do %>
  <div class="test3"><i class="fa fa-code fa-2x"></i></div>
  <% end -%>
  <div class="test4"><i class="fa fa-envelope-o fa-2x"></i></div>
  <div class="mask2"><i class="fa fa-home fa-3x"></i></div>
</div>
   

   <script type="text/javascript">



  var active1 = false;
  var active2 = false;
  var active3 = false;
  var active4 = false;

    $('.parent2').on('mousedown touchstart', function() {
    
    if (!active1) $(this).find('.test1').css({'background-color': 'gray', 'transform': 'translate(0px,125px)'});
    else $(this).find('.test1').css({'background-color': 'dimGray', 'transform': 'none'}); 
     if (!active2) $(this).find('.test2').css({'background-color': 'gray', 'transform': 'translate(60px,105px)'});
    else $(this).find('.test2').css({'background-color': 'darkGray', 'transform': 'none'});
      if (!active3) $(this).find('.test3').css({'background-color': 'gray', 'transform': 'translate(105px,60px)'});
    else $(this).find('.test3').css({'background-color': 'silver', 'transform': 'none'});
      if (!active4) $(this).find('.test4').css({'background-color': 'gray', 'transform': 'translate(125px,0px)'});
    else $(this).find('.test4').css({'background-color': 'silver', 'transform': 'none'});
    active1 = !active1;
    active2 = !active2;
    active3 = !active3;
    active4 = !active4;
      
    });




   </script>

   

    <% end -%>



 







</header>







<%= yield %>






</body>


</script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>

</html>
